@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  color: black;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
  border: solid 1px orange;
}

h1 {
  font-size: 8rem;
  transition: 500ms;
  font-family: "Styro", sans-serif;
  letter-spacing: 2px;
}

h1:hover {
  color: #DE8500;
  transition: 500ms;
  cursor: pointer;
}

h2, h3, h4 {
  font-family: "Epilogue", sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  border: #DE8500 solid 3px;
}
.parent .nav {
  grid-area: 1/1/3/11;
  border-bottom: 3px solid #DE8500;
  display: flex;
  align-items: center;
}
.parent .nav .title {
  margin-left: 2.2%;
  font-size: 3rem;
}
.parent .left {
  grid-area: 3/1/11/7;
  border-right: 3px solid #DE8500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .left .carre {
  background-color: #DE8500;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 30vh;
}
.parent .left img {
  width: 92%;
}
.parent .right {
  grid-area: 3/7/11/11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parent .right .container h2 {
  font-size: 7rem;
  padding-bottom: 15%;
}
.parent .right .container form {
  font-size: 2rem;
}
.parent .right .container form input {
  font-size: 1.3rem;
  width: 25vw;
  height: 3.5vh;
  margin-bottom: 4vh;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 3px solid #DE8500;
}
.parent .right .container form button {
  width: 14vw;
  height: 50px;
  font-size: 2rem;
  background-color: #DE8500;
  transition: 300ms;
}
.parent .right .container form button:hover {
  background-color: #c27500;
  color: white;
  border: solid #c27500;
  cursor: pointer;
  transition: 300ms;
}
.parent .right .container form p {
  font-size: 1.5rem;
}
.parent .right .container form a:hover {
  border-bottom: solid 3px #DE8500;
}

.container-home {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  border: #DE8500 solid 3px;
}
.container-home .nav {
  grid-area: 1/1/2/17;
  border-bottom: solid 3px #DE8500;
}
.container-home .nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}
.container-home .nav ul li {
  transition: 300ms;
  font-size: 5rem;
  font-weight: bold;
}
.container-home .nav ul li:last-child:hover {
  color: #DE8500;
  transition: 300ms;
}
.container-home .title {
  grid-area: 2/1/4/17;
  border-bottom: solid 3px #DE8500;
  font-size: 6rem;
  font-weight: 500;
}
.container-home .description {
  grid-area: 4/1/10/8;
  border-right: solid 3px #DE8500;
  padding: 3vw 5vh;
}
.container-home .description h3 {
  font-size: 2rem;
}
.container-home .description ul {
  margin-top: 5vh;
}
.container-home .description ul li {
  list-style-type: initial;
  font-size: 1.5rem;
  padding-top: 2vh;
}
.container-home .content {
  grid-area: 4/8/9/17;
  border-bottom: solid 3px #DE8500;
  overflow: hidden;
}
.container-home .gold {
  grid-area: 9/8/10/10;
  border-right: solid 3px #DE8500;
  font-size: 2rem;
}
.container-home .silver {
  grid-area: 9/10/10/12;
  border-right: solid 3px #DE8500;
  font-size: 2rem;
}
.container-home .add-to-cart {
  grid-area: 9/12/10/17;
  font-size: 2rem;
}
.container-home .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-home button {
  transition: 300ms;
}
.container-home button:hover {
  background-color: #DE8500;
  color: white;
  transition: 300ms;
}

main {
  display: flex;
  height: 100vh;
  border: #DE8500 solid 3px;
}
main .left, main .right {
  width: 50vw;
}
main .left {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 3px #DE8500;
}
main .left img {
  width: 50vw;
}
main nav {
  height: 10vh;
  border-bottom: #DE8500 solid 3px;
}
main nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}
main nav ul h1 {
  font-size: 5rem;
}
main .product {
  height: 75vh;
}
main .buy {
  border-top: #DE8500 solid 3px;
  height: 15vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  transition: 300ms;
}
main .buy:hover {
  background-color: #DE8500;
  color: white;
  transition: 300ms;
}

.product-list {
  border: #DE8500 solid 3px;
}
.product-list nav {
  height: 16vh;
  border-bottom: #c27500 3px solid;
  width: 100vw;
}
.product-list nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  height: 16vh;
}
.product-list nav ul li {
  transition: 300ms;
  font-size: 5rem;
  font-weight: bold;
}
.product-list nav ul li:last-child:hover {
  color: #DE8500;
  transition: 300ms;
}
.product-list .wrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.product-list .wrapper .container-product {
  height: 42vh;
  width: 25vw;
  border-bottom: #DE8500 solid 3px;
  border-right: #DE8500 solid 3px;
}
.product-list .wrapper .container-product img {
  width: 100%;
  height: 32vh;
  object-fit: cover;
  object-position: center;
  border-bottom: solid 3px #c27500;
}
.product-list .wrapper .container-product .description {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  transition: 150ms;
}
.product-list .wrapper .container-product .description:hover:after {
  content: "View more";
  position: absolute;
  visibility: visible;
  color: white;
  font-size: 2.5vw;
}
.product-list .wrapper .container-product .description:hover {
  background: #DE8500;
  color: #DE8500;
  cursor: pointer;
  transition: 150ms;
}

/*# sourceMappingURL=styles.css.map */
