main {
  display: flex;
  height: 100vh;
  border: #DE8500 solid 3px;

  .left, .right {
    width: 50vw;
  }

  .left {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 3px #DE8500;

    img {
      width: 50vw;
    }
  }

  nav {
    height: 10vh;
    border-bottom: #DE8500 solid 3px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3vw;

      h1 {
        font-size: 5rem;
      }
    }
  }

  .product {
    height: 75vh;
  }

  .buy {
    border-top: #DE8500 solid 3px;
    height: 15vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    transition: 300ms;

    &:hover {
      background-color: #DE8500;
      color: white;
      transition: 300ms;
    }
  }
}
